body{
    background:url("./img1.jpg") no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    width:33%;
    height: 54%;
}
h1  {
    font-size: 1.5rem;
    font-family: "Roboto";
    color: #b5b3b3;
    background-color: #282626;
    border: solid #fff 2px;
    font-weight:300;
    margin: 3% auto;
    text-align: center;
    line-height: 3rem;
    width: 70%;
}
.Qbox{
    background-color: #fefefe;
    width: 100%;
    height: 75%;
    text-align:center ;
    border-radius: 5%;
    box-shadow: 0 0 7px;
}
.quote{
    margin-bottom: 0;
    padding: 7% 7% ;
   font-size: 1.5rem;
   font-family: 'lato';
   font-weight: lighter;
   color: #36364f;
   line-height: 2rem;
   text-align: center;
}
.author{
    font-family: 'roboto';
    color:tomato;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    margin: 0;
}
.Q-btn{
    cursor: pointer;
    margin: 7% auto 0 auto  ;
    width: 20%;   
    height: 12.5%; 
    background-color: #262626;
    color: white;
    font-weight: lighter;
    font-family: 'roboto';
    border-radius: 9%;
    position: static;
}
.Q-btn:active{
    background-color: lightblue;
}